# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*
